<!-- Header Section -->
<header class="header row">
  <div class="col-lg-2">
    <img src="../assets/images/images (1).jpeg" />
  </div>
  <div class="col-lg-4 ">
    <h1>Trending Food Combo Offer</h1>
    <h2>Less 20%</h2>
    <p>
      A team of dreamers and doers building unique interactive music and art
      festivals.
    </p>
    <section class="offers">
      <div class="offer">
        <h4>30% OFF 4PCS HOT CRISPY & 8 PCS WING</h4>
      </div>
      <div class="offer">
        <h4>20% OFF TASTY PIZZA WITH DRINK</h4>
      </div>
      <div class="offer">
        <h4>2PCS HUMBGER WITH DRINKS & SAUCE</h4>
      </div>
    </section>
  </div>
</header>

<!-- Offer Section -->

<!-- Footer Section -->
<footer class="footer">
  <div class="quality">
    <h3>SUPER QUALITY FOOD</h3>
    <p>
      A team of dreamers and doers building unique interactive music and art.
    </p>
  </div>
  <div class="recipes">
    <h3>ORIGINAL RECIPES</h3>
    <p>
      A team of dreamers and doers building unique interactive music and art.
    </p>
  </div>
  <div class="delivery">
    <h3>QUICK FAST DELIVERY</h3>
    <p>
      A team of dreamers and doers building unique interactive music and art.
    </p>
  </div>
  <div class="fresh">
    <h3>100% FRESH FOODS</h3>
    <p>
      A team of dreamers and doers building unique interactive music and art.
    </p>
  </div>
</footer>