<!-- Header Section -->
<header class="header row">
  <div class="col-lg-2">
    <img src="../assets/images/download.jpeg" />
  </div>
  <div class="col-lg-4 background-container">
    <p class="p">CRISPY,EVERY BITE TASTE</p>
    <h1>TRENDING FOOD COMBO OFFER LESS <span>20%</span></h1>

    <p>
      A team of dreamers and doers building unique interactive music and art
      festivals.
    </p>
    <section class="offers">
      <div class="container mt-4 offer-item">
        <div class="row align-items-center">
          <div class="col-auto">
            <img
              src="../assets/images/images (2).jpeg"
              class="img-fluid"
              alt="Offer Image"
            />
          </div>
          <div class="col">
            <p class="mb-0">30% OFF 4PCS HOT CRISPY & 8 PCS WING</p>
          </div>
        </div>
      </div>
      <div class="container mt-4 offer-item">
        <div class="row align-items-center">
          <div class="col-auto">
            <img
              src="../assets/images/images (1).png"
              class="img-fluid"
              alt="Offer Image"
            />
          </div>
          <div class="col">
            <p class="mb-0">20% OFF TASTY PIZZA WITH DRINK</p>
          </div>
        </div>
      </div>
      <div class="container mt-4 offer-item">
        <div class="row align-items-center">
          <div class="col-auto">
            <img
              src="../assets/images/images (2).png"
              class="img-fluid"
              alt="Offer Image"
            />
          </div>
          <div class="col">
            <p class="mb-0">2PCS HUMBGER WITH DRINKS & SAUCE</p>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="col-lg-5">
    <img src="../assets/images/comboo-bg.jpg" class="combo" />
    <img src="../assets/images/big-pizza.png" class="big-pizza" />
    <img src="../assets/images/combo-pizza-text.png" class="combo-pizza-tex" />
    <img src="../assets/images/50percent-off-2.png" class="percent" />
  </div>
</header>

<!-- Offer Section -->
<div class="banner">
  <span class="outline-text">ER DISHES</span>
  <img src="../assets/images/burger.png" alt="Burger" class="icon" />
  <span class="outline">DELICIOUS FOOD</span>
  <img src="../assets/images/pizza.png" alt="Pizza" class="icon" />
  <span class="outline-text">POPULAR</span>
</div>
<!-- Footer Section -->
<footer class="footer">
  <div class="cart row">
    <div class="col-lg-3">
      <i class="fa-solid fa-medal fa-2x"></i>
      <h5>SUPER QUALITY FOOD</h5>

      <p>
        A team of dreamers and doers building unique interactive music and art.
      </p>
    </div>
    <div class="col-lg-3">
      <i class="fa-solid fa-utensils fa-2x"></i>

      <h5>ORIGINAL RECIPES</h5>
      <p>
        A team of dreamers and doers building unique interactive music and art.
      </p>
    </div>
    <div class="col-lg-3">
      <i class="fa-solid fa-caravan fa-2x"></i>
      <h5>QUICK FAST DELIVERY</h5>
      <p>
        A team of dreamers and doers building unique interactive music and art.
      </p>
    </div>
    <div class="col-lg-3">
      <i class="fa-solid fa-medal fa-2x"></i>
      <h5>100% FRESH FOODS</h5>
      <p>
        A team of dreamers and doers building unique interactive music and art.
      </p>
    </div>
  </div>
</footer>
