.header {
  margin-top: 4px;
  margin-bottom: 0px;
  height: 650px;
}
.background-container {
  position: relative;
  height: 650px;
  width: 600px;
  padding: 20px;
  background-color: rgb(247, 247, 238); /* لون الخلفية */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* للتأكد من أن صورة الخلفية لا تتجاوز حدود الحاوية */
}

.background-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/food-shape-2.png"); /* رابط الصورة */
  background-size: cover;
  background-position: center;
  opacity: 0.1; /* اجعل الصورة شفافة قليلاً */
  z-index: -1;
}
.col-lg-2 img {
  height: 650px;
  width: 180px;
  margin: 0;
  padding: 0;
}
.col-lg-4 {
  margin-left: 30px;
}
.footer {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  height: 400px;
  background-color: rgb(235, 235, 216);
}
.cart {
  border-radius: 20px;
  width: 1200px;
  background-image: url("../assets/images/food-shape-2.png"),
    url("../assets/images/main-bg\ \(2\).jpg");
  background-position: center center, center center;
  background-repeat: no-repeat, no-repeat;

  h5 {
    color: antiquewhite;
  }
  p {
    color: antiquewhite;
  }
}
.promo-image {
  position: relative;
}

.combo {
  width: 950px;
  height: 650px;
  display: block;
}

.big-pizza {
  position: absolute;
  top: 55%;
  left: 66%;
  transform: translate(-50%, -50%);
  width: 700px;
}
.combo-pizza-tex {
  position: absolute;
  top: 25%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 300px;
}
.percent {
  position: absolute;
  top: 15%;
  left: 75%;
  transform: translate(-50%, -50%);
  width: 200px;
}
.p {
  color: red;
  font-weight: bolder;
  margin-top: 30px;
}
h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
span {
  color: red;
}

.container img {
  width: 80px;
  height: 60px;
  margin-right: 0;
}
.container {
  height: 60px;
  width: 500px;
  padding: 0;
  border-radius: 5px;
  background-color: rgb(235, 235, 216);
}
.container p {
  font-weight: bold;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(235, 235, 216);
  padding: 20px;
  border: 1px solid #e0e0e0;
}

.text {
  font-size: 2em;
  color: #ddd;
  margin: 0 10px;
}

.outline-text {
  font-size: 5em;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 2px #d0cbcb;
  text-transform: uppercase;
}
.outline {
  font-size: 5em;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 2px rgb(225, 50, 50);
  text-transform: uppercase;
}
.highlighted-text::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  width: 10px;
  background-color: #fff;
  z-index: -1;
}

.icon {
  width: 50px;
  height: auto;
  margin: 20px;
}
.fa-solid {
  color: rgb(207, 164, 20);
}

.col-lg-3 {
  text-align: center;
  margin-top: 100px;
}
.offer-item:hover {
  background-color: rgb(250, 172, 5); /* تغيير لون خلفية الـ container */
}
